.Artist{
    text-align: center;
}

.ArtistImage{
    position: absolute;
    width: 27%;
    height: 30%;
    left: 2%;
    top: 100px;
    border: 2px solid black;
}

.ArtisInformation{
    position: absolute;
    width: 65%;
    height: 20%;
    left: 30%;
    top: 180px;
    background-color: black;
    opacity: 0.8;
    font-size: larger;
    padding-top: 20px;
}