h1
   {
   	text-align: center;
   	color: #ff3300;
   font-family: 'Wendy One', sans-serif;
   font-weight: 400;
   font-size: 70px;
   top :5px;
   }
   body
   {
   	background-image: url(img/sp1.jpg);
   }