.back__btn {
  position: fixed;
  z-index: 11;
  top: 1rem;
  right: 3rem;
  margin-top: 10px;
  background: $primary-color;
  color: #fff;
  border-radius: 7px;
  border: none;
  padding: 0.2em 10px;
  cursor: pointer;
}


.movie__result {

  @include mobile {
    display: block;
  }

  padding: 3rem;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;


  .movie__poster img {
    width: 100%;
    border: 1px solid $primary-color;
    box-shadow: 0 2px 6px lighten($primary-color, 10%);
    border-radius: 7px;
  }

  .movie__details {
    &_list {
      list-style: none;
      
      li {
        margin: 1rem 0;
      }
    }
  }

}